.container {
  width: 500px;
  height: 500px;
  background: #000000;
  position: relative;
}

/* .block {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    top: calc(100% - 100px);
    left: calc(100% - 100px);


} */

.block {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
  /* top: calc(100% - 100px); */
  left: calc(100% - 100px);
}

body {
  height: 5000px;
}
